@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
}

.grid-container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2] minmax(0, 0.4fr) minmax(0, 1fr);
      grid-template-columns: repeat(2, minmax(0, 1fr)) minmax(0, 0.4fr) minmax(0, 1fr);
  -ms-grid-rows: minmax(0, 2fr) minmax(0, 1fr);
      grid-template-rows: minmax(0, 2fr) minmax(0, 1fr);
      grid-template-areas: "main main title title" "left-image about about right-image";
}

img {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  background: darkgray;
}

main .open,
main .close {
  display: none;
}

main .bg-image {
  height: 100%;
  position: relative;
  z-index: 1;
}

main .bg-image.hide {
  display: none;
}

main nav {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 5%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 85%;
  color: white;
}

main nav .logo {
  margin-right: 5%;
}

main nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main nav ul li {
  position: relative;
  text-transform: lowercase;
  font-size: 1.2rem;
  margin-right: 5%;
  list-style: none;
  font-weight: 600;
}

main nav ul li:after {
  content: "";
  height: 20%;
  width: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  bottom: -50%;
  left: 50%;
  background: white;
  opacity: 0;
}

main nav ul li:hover, main nav ul li:focus {
  cursor: pointer;
}

main nav ul li:hover:after, main nav ul li:focus:after {
  opacity: 1;
}

.title-section {
  pointer-events: none;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-section .info {
  pointer-events: all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
  width: 65%;
}

.title-section .info h2 {
  font-size: 3rem;
  color: black;
}

.title-section .info a {
  text-decoration: none;
  letter-spacing: 0.85rem;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 600;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.title-section .info a:hover, .title-section .info a:focus {
  cursor: pointer;
  color: #a1a1a1;
}

.title-section .info a:hover svg, .title-section .info a:focus svg {
  stroke: #a1a1a1;
}

.title-section .info svg {
  margin-left: 2.5rem;
  height: 100%;
  vertical-align: bottom;
}

.title-section .info p {
  line-height: 2;
  font-size: 0.92rem;
  color: #a1a1a1;
}

.title-section .info.hide {
  display: none;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  -ms-flex-item-align: end;
      align-self: end;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  height: 15%;
  width: 100%;
}

#next,
#previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#next:hover, #next:focus,
#previous:hover,
#previous:focus {
  background: #454545;
}

.left-about {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left-image;
}

.about-info {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: about;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7%;
}

.about-info h3 {
  font-size: 1.1rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

.about-info p {
  font-size: 1rem;
  line-height: 2;
  padding-top: 2%;
  color: #a1a1a1;
}

.right-about {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: right-image;
}
/*# sourceMappingURL=styles.css.map */